
@{
    ViewData["Title"] = "Index";
    string modal = "user-modal";
    string container = "user-container";
}


<div class="container">
    <div class="container">
        <h3>Users</h3>
        <br />
        <hr />
    </div>
    <table id="table-user-grid" class="table table-striped table-bordered dt-responsive" cellspacing="0">
        <thead>
            <tr>
                <th>IP</th>
                <th>Username</th>
                <th>BlockDate</th>
                <th>Actions</th>
            </tr>
        </thead>
    </table>
</div>
<div class="modal fade" id="create-@modal" tabindex="-1" role="dialog" aria-labelledby="Create-@modal" aria-hidden="true" data-backdrop="static">
    <div id="create-@container">
    </div>
</div>

<div class="modal fade" id="edit-@modal" tabindex="-1" role="dialog" aria-labelledby="Edit-@modal" aria-hidden="true" data-backdrop="static">
    <div id="edit-@container">
    </div>
</div>

<div class="modal fade" id="delete-@modal" tabindex="-1" role="dialog" aria-labelledby="Delete-@modal" aria-hidden="true" data-backdrop="static">
    <div id="delete-@container">
    </div>
</div>

<div class="modal fade" id="details-@modal" tabindex="-1" role="dialog" aria-labelledby="Details-@modal" aria-hidden="true" data-backdrop="static">
    <div id="details-@container">
    </div>
</div>

@section Scripts
{
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>
    <script src="~/js/grid.js" asp-append-version="true"></script>
}